<div id="culture_code_banner">
  <h1>Culture Code</h1>
  <h2>makes solutions</h2>
</div>
<div id="page_nav_container">
  <ul id="page_nav">
    <li><%= link_to 'What We Do', root_path(:anchor => 'what_we_do') %></li>
    <li><%= link_to 'Past Work', root_path(:anchor => 'past_work') %></li>
    <li><%= link_to 'Contact Us', root_path(:anchor => 'contact_us') %></li>
  </ul>
</div>
<div id="page_copy">
  <h1><a name="what_we_do"></a>We design software to help you work</h1>
  <p>Whether you’re one person or an international group of museums,
     whatever you need, we can build it for you.</p>
  <p>The team at Culture Code has years of experience designing web
     applications for the cultural and university sectors. We specialize
     in building tools for cultural and scientific research.</p>

  <h1><a name="past_work"></a>Our work speaks for itself</h1>
  <ul class="gallery">
    <li class="gallery_item"><%= link_to(image_tag('previous_work/rrn/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/rrn/poster.jpg', :rel => 'group1', :title => "Dispersed First Nations items, together on the web") %></li>
    <li class="gallery_item"><%= link_to(image_tag('previous_work/rrn/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/rrn/poster2.png', :rel => 'group1', :title => "An intuitive interface takes the guesswork out of searching", :style => 'display:none;') %></li>
    <li class="gallery_item"><%= link_to(image_tag('previous_work/rrn/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/rrn/poster3.png', :rel => 'group1', :title => "Google Maps integration for visualizing results", :style => 'display:none;') %></li>
    <li class="gallery_item"><%= link_to(image_tag('previous_work/loa/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/loa/poster.png', :rel => 'group2', :title => "A repository for archaeological data") %></li>
    <li class="gallery_item"><%= link_to(image_tag('previous_work/loa/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/loa/poster2.png', :rel => 'group2', :style => 'display:none;', :title => "Simple, effective forms for data entry") %></li>
    <li class="gallery_item"><%= link_to(image_tag('previous_work/loa/poster_thumb.png', :class => 'thumbnail'), 'images/previous_work/loa/poster3.png', :rel => 'group2', :style => 'display:none;', :title => "Interactive Google Earth overlays generated from live data") %></li>
    <div class="clear"></div>
  </ul>
</div>
