<div id="culture_code_banner">
  <h1>Culture Code</h1>
</div>
<div id="page_nav_container">
  <ul id="page_nav">
    <li><%= link_to 'What We Do', root_path(:anchor => 'what_we_do') %></li>
    <li><%= link_to 'Past Work', root_path(:anchor => 'past_work') %></li>
    <li><%= link_to 'Contact Us', root_path(:anchor => 'contact_us') %></li>
  </ul>
</div>
<div id="page_copy">
  <h1><a name="what_we_do"></a>We design software to help you work</h1>
  <p>The team at Culture Code has years of experience designing web
     applications for the cultural and university sectors. We specialize
     in building tools for cultural and scientific research.</p>
  <p>Whether you’re one person or an international group of museums,
     whatever you need, we can build it for you.</p>

  <h1><a name="past_work"></a>Our work speaks for itself</h1>
  <ul class="gallery">
    <%= gallery_stack 'Reciprocal Research Network', 'rrn', 'poster.jpg' => "Dispersed First Nations items, together on the web", "poster2.png" => "An intuitive interface takes the guesswork out of searching", "poster3.png" => "Google Maps integration for visualizing results" %>
    
    <%= gallery_stack 'Ancient Maize Map', 'maizemap', 'poster.png' => "A repository for archaeological data", "poster2.png" => "Simple, effective forms for multi-lingual data entry", "poster3.png" => "Interactive Google Earth overlays generated from live data" %>
    
    <%= gallery_stack 'Resiliency', 'resiliency', 'poster.jpg' => "Visualizing earthquake resiliency data" %>
    
    <%= gallery_stack 'Inuvialuit Living History', 'macfarlane', 'poster.png' => "A display of cultural identity" %>
    
    <%= gallery_stack 'iShare', 'ishare', 'poster.png' => "Connecting museums and communities east and west", 'poster2.png' => "Multi-lingual interface with user editable translations" %>
    
    <%= gallery_stack 'Image Master', 'image_master', 'poster.png' => "Online image management and thumbnailing service for Filemaker Pro", 'poster2.png' => "New photographs are automatically detected by the system, thumbnailed, and linked to the appropriate record." %>
    
    <%= gallery_stack 'Stó:lō Connect', 'stolo', 'poster2.png' => "Social tools for documenting First Nations land use.", 'poster3.png' => "Visualize overlap with proposed land development projects" %>  

    <%= gallery_stack 'Chilliwack River Rafting', 'rafting', 'poster.jpg' => "An online presence for their outdoor adventures", 'poster2.png' => "Fully integrated online payment system" %>
    <%= gallery_stack 'MHA Items at CUMNH', 'nagpra', 'poster.jpg' => "A simple tool to allow tribal representatives to preview the Mandan-Hidatsa-Arikara items housed at the CU Museum in Boulder, CO before the in-person NAGPRA consultation." %>
    <%= gallery_stack 'Artefacts of Encounter', 'aofe', 'poster.png' => "A catalogue exploration tool for the University of Cambridge's Cook Collection. An export feature allows for creation of offline viewing packages for use in remote communities." %>
    <%= gallery_stack 'BCSRP', 'bcsrp', 'poster.png' => "A seismic assessment management and Planning tool for British Columbia Ministry of Education" %>
    <%= gallery_stack 'Blue Terminal', 'blue_terminal', 'poster.png' => "An energy information aggregation service",
      'poster2.png' => "Administrators can customize automatic article formatting rules", 'poster3.png' => "Automatic article tagging algorithms minimize staffing requirements" %>

  </ul>
</div>
