<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield :title || 'Culture Code'%></title>
    <%= stylesheets %>
    <%= javascripts_frameworks %>
  </head>
  <body>
    <div id="page_margins"><%= yield %></div>
    <div id="footer_shadow_container">
      <div id="footer_container">
        <div id="footer">
          <h1 id="contact_header"><a name="contact_us"></a>Contact</h1>
          <div class="location">
            <h4>Head Office</h4>
            <address>
              1060 Alberni Street<br>
              Suite 1903<br>
              Vancouver, BC V6E4K2
            </address>
            <p>+1 778 994 1034</p>
          </div>
          <div class="location">
            <h4>Email</h4>
            <%= mail_to 'contact@culturecode.ca', 'contact@culturecode.ca' %>
          </div>
        </div>
      </div>
    </div>
    <%= javascripts %>
    <%= yield :js %>
  </body>
</html>